<div class="new-list">
<h1>新規登録</h1>
<div class="error-box">
<% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<%= form_with model: @list, url: "/lists",method: :post do |f| %>

<div class="new-title">
 <h4>タイトル</h4>
 <%= f.text_field :title %>
</div>

<div class="new-body">
  <h4>本文</h4>
  <%= f.text_area :body %>
</div>

<div class="new-image">
 <h4>画像</h4>
 <%= f.file_field :image, accept: "image/*" %>
</div>
<div class="new-submit">
 <%= f.submit "投稿" %>
</div>
 <% end %>
</div>